name: Cypress Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  run-cypress:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress
        run: npx cypress run
